.ActiveLink{
    background-color:#2F3CED;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Activeicon{
    color:#f8f9fc;
}
.navgrid{
    display: grid;
    grid-template-columns: 4fr 2fr;
    height: 80px;
    margin-bottom: 10px;
  }
  .profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .username{
    color:black;
  }
  
  .borderimg{
   border: 2px solid rgb(255, 255, 255);
  margin-right: 20px;
   box-shadow: 5px 5px 6px 0px #d6d6d6;
  }
  .navcolor{
    background:D2D0D0;
    opacity: 1;
    border: none;
  }
  .searchgrid{
    padding-left: 600px;
  }
  .searchbar{
    width:50%;
    align-self: end; 
    display: grid;
    grid-template-columns: 2fr 20fr 2fr;
    background-color: white;
    padding: 10px;
    min-width: 500px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 6px 0px #d6d6d6;
    border-radius: 30px;
  
  }
  
  .searchinput{
    border: none;
    outline: none;
    color: black;
  }
  
