
:root{
    --back-color:#EAEAEA;
    --back-color-secondary:white;
    --button-color:#2F3CED;
    --input-bg:#CBCBCB;
}
.background{
    background-color: var(--back-color);
    padding: 40px;
    height: 100vh;
}


.contentbackground{
  background-color:#EAEAEA;
  padding: 40px;
  height: 94vh;
}
.contentinner{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 80vh;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.innerFrame{
    padding: 5px;
    height:100%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}
.mainform{
 
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:10px
}
.checkboxes input[type=checkbox] {
  width: 20px;
  height: 20px;
  accent-color: black;
}
.checkboxes label{
  font-size: larger;
  padding-left: 10px;
}

.formgroup{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    gap: 40px;
    max-height: 450px;
    overflow:auto;
    padding-right: 20px;
}
.formgroup::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */

}

.formgroup::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* Track color */
}

.formgroup::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Scrollbar thumb color */
  border-radius: 2px; /* Border radius for the scrollbar thumb */
}

.formgroup::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* Hover color for the scrollbar thumb */
}

.inputgrp{
display: grid;
grid-template-columns: 6fr 1fr 12fr;
}
.inputgrp select{
  
  border: 1px solid black;
  
  border-radius: 5px;
}
.inputgrp input{
    border: 1px solid black;
    width: 100%;
   
    border-radius: 5px;
    padding: 15px;
   
}
.inputgrp .disabledbox{
  border:0px;
}
.inputgrp textarea{
  border: 1px solid black;
}
.inputgrp span{
    font-weight: bolder;
    font-size: 1.5rem;
}
.inputgrp label{
    font-size:1.5rem;
    margin-bottom: 0px;
   display: flex;
   align-items: center;
}
.disabledbox{
  background-color: var(--input-bg);
  width: 100%;
  border:0px;
  outline: none;
  border-radius: 5px;
  padding: 15px;
}
.btngrp{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    padding-bottom: 10px;
    padding: 20px;
}
.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-group {
    width: 300px; /* Adjust the width and height as needed */
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
 
  .image-group img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  .file-upload-btn {
    display: inline-block;
    background-color: var(--button-color); /* Assuming you have defined this variable */
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .file-upload {
    position: absolute;
    left: -9999px;
  }
  
  /* Style to hide the file input filename */
  .file-upload::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  .file-upload::before {
    content: 'Choose File';
    display: inline-block;
    background-color: var(--button-color); 
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Optional: Style the file input label when a file is selected */
  .file-upload:valid + .file-upload-btn::before {
    content: 'Change File';
  }
  
/* certificate template */
.certificate {
   
    width: 700px;
    height: 400px;
}
.certibtn{
  margin-top: 10px;
  display:grid;
  grid-template-columns:  1fr 1fr;
  gap:30px;
  width: 700px;
}
.wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
    width: 100%;
    height: 100%;
    border : 10px solid #B2B5E1;
    display: grid;
    grid-template-rows: max-content;
    padding: 20px; 
    text-align: center;  
    background-color: #ffffff; 
    background-repeat: no-repeat;
    font-size: 1.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}
.centerimg{
  display: flex;
  justify-content: center;
}
.inner p{
  word-wrap:break-word;
  font-size: smaller;
  margin-bottom: 0px;
}
